

@import '../../style/var.scss';
@import '../../style/fonts.scss';

.page-services {
    display: flex;
    flex-wrap: wrap;

    li {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 2rem 2rem 2rem 0;
        font-family: 'Xolonium';
        font-weight: normal;

        &:hover {
            color: $primary-color;
        }
    }
}