

@import '../../style/var.scss';
@import '../../style/fonts.scss';

.page-services {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 5px;
        padding: 1rem;
        width: 100%;
        max-width: 352px;
        box-shadow: 0 6px 13px -5px #0043ea;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            box-shadow: 0 20px 39px -5px #0043ea;
            transform: scale(1.05);
        }
    }
}

.services__title {
    margin: 1rem 0;
}