

@import '../../style/var.scss';
@import '../../style/fonts.scss';

.page-services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    @media (max-width: $large) {
        grid-template-columns: 1fr;
    }

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 5px;
        width: 100%;
        box-shadow: 0 6px 13px -5px #0043ea;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            box-shadow: 0 20px 39px -5px #0043ea;
            transform: scale(1.05);
        }
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 1rem;
    }
}

.services__title {
    margin: 1rem 0;

    @media (max-width: $large) {
        text-align: center;
    }
}