@import '../../style/var.scss';

.main_button {
    box-shadow: 0 6px 13px -5px #0043ea;
    border-bottom: 1px solid $primary-color;
    color: $white;
    border-radius: 3px;
    padding: 1rem;
    background-color: $primary-color;
    width: 10rem;
    font-size: 0.75rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.main_button.transperent {
    background-color: transparent;

    &:hover {
        background-color: $primary-color;
    }
}