

@import '../../style/fonts.scss';
@import '../../style//var.scss';


.worker__description {
    padding-bottom: 2rem;

    @media (max-width: $large) {
        font-size: 1rem;
    }
}


.worker__more {
    padding-bottom: 1.5rem;

    &--item {
        padding-bottom: 1rem;
    }
}

.worker__lower {
    padding-top: 1rem;
    text-align: center;
}