@import '../../style/fonts.scss';
@import '../../style/var.scss';


.swiper {
    //margin-left: 0;
    max-width: 50vw;
}

.slide-content {
    position: relative;
    text-align: center;
  }
  
  .slide-content img {
    width: 100%;
    height: 30rem;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .slide-description {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  
  .slide-description h3 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .slide-description p {
    margin: 0;
    font-size: 1rem;
  }
  
  .slide-description span {
    color: $primary-color;
    text-decoration: underline;
  }

  .swiper-button-prev,
.swiper-button-next {
    color: #000; /* Цвет стрелок */
    width: 30px;
    height: 30px;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
}

.swiper-navigation {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
}

.swiper-btn-prev, .swiper-btn-next {
    width: 5rem;
    height: 5rem;
    background-color: $primary-color;
    border-radius: 50%;

    & > svg {

      position: relative;

      path {
        stroke: white;
      }
    }
}

.swiper-btn-prev svg {
  right: 5px;
}

.swiper-btn-next svg {
  left: 5px;
}

// .swiper-btn-prev {
//   background-image: url('../../resources/arrow.svg');
//   object-fit: contain;
//   background-repeat: no-repeat;
//   background-position: center; 
// }

// .swiper-btn-next {
//   background-image: url('../../resources/arrow.svg');
//   object-fit: contain;
//   background-repeat: no-repeat;
//   background-position: center; 
// }