

.notarius__subtitle {
    padding-bottom: 1.5rem;
}

.main-section .notarius__description:last-of-type {
    margin-bottom: 0;
}

.notarius__list--item:not(:last-child) {
    padding-bottom: 0.5rem;
}