@import '../../style/var.scss';
@import '../../style/fonts.scss';



.page-header {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100dvh;
    color: $white;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    & h2 {
        font-family: 'Xolonium';
        font-weight: bold;
        z-index: 3;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
        padding-inline: 5rem;
        text-align: center;
        font-size: clamp(1rem, 3vw ,1.5rem);

        @media (max-width: calc($large - 1px)) {
            padding-inline: 0.5rem;
        }

        @media (min-width: $large) {
            padding-inline: 1rem;
        }
    }

    &::before {
        position: absolute;

        content: '';

        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        background-color: $black;
        opacity: 0.8;
        z-index: 1;
        
    }

}

.build {
    background-image: url('../../../public/images/building.webp');
}

.family {
    background-image: url('../../../public/images/family.webp');
}

.military {
    background-image: url('../../../public/images/military.webp');
}

.lawyer {
    background-image: url('../../../public/images/lawyerH.webp');
}

.duty {
    background-image: url('../../../public/images/duty.webp');
}

.protection {
    background-image: url('../../../public/images/protection.webp');
}

.worker {
    background-image: url('../../../public/images/worker.webp');
}

.administrative-law {
    background-image: url('../../../public/images/administrative-law.webp');
}

.administrative-violation {
    background-image: url('../../../public/images/administrative-violation.webp');
}

.cases {
    background-image: url('../../../public/images/cases.webp');
}

.brak {
    background-image: url('../../../public/images/alimenti.webp');
    background-position: center;
}

.distribution {
    background-image: url('../../../public/images/distribution.webp');
}

.podil {
    background-image: url('../../../public/images/podilHeader.webp');
}

.dolg {
    background-image: url('../../../public/images/dolgHeader.webp');
}

.credit {
    background-image: url('../../../public/images/zahistPravHeader.webp');
}

.cancel {
    background-image: url('../../../public/images/scasuvannyaHeader.webp');
}

.notarius {
    background-image: url('../../../public/images/oskarjennyaHeader.webp');
}

.admin130 {
    background-image: url('../../../public/images/130Header.webp');
}

.admin124 {
    background-image: url('../../../public/images/124Header.webp');
}

.dev {
    background-image: url('../../../public/images/dev.webp');
}

.not-found {
    background-image: url('../../../public/images/notFound.webp');
}