

@import '../../style/var.scss';
@import '../../style/fonts.scss';

.main-section {

    h2:nth-child(1) {
        margin-top: 0;
    }

    p {
        margin-bottom: 1rem;
    }

    .mb-0 {
        margin-bottom: 0;
    }

    ul {
        margin: 1rem auto;
        
        li {
            list-style: disc inside;

            &:hover {
                color: $primary-color;
            }
        }
    }

    button {
        display: flex;
        justify-content: center;
        width: 50dvh;
        margin: 0 auto 1rem;
    }
}

.page__title {
    margin-bottom: 1.5rem;
}

.description__item:not(:last-child) {
    padding-bottom: 1rem;
}