

@font-face {
    font-family: 'Xolonium';
    src: url('../../public/fonts/Xolonium.ttf') format('ttf'),
         url('../../public/fonts/Xolonium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Xolonium';
    src: url('../../public/fonts/Xolonium-Bold.ttf') format('ttf'),
         url('../../public/fonts/Xolonium-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../public/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}