@import '../style/var.scss';


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: 'Roboto';
    font-weight: normal;
    font-display: swap;
}

h1, h2, h3 {
    font-family: 'Xolonium';
    font-weight: normal;
}

.page-info {
    flex: 3;
}

.page-container {
    display: flex;
    justify-content: space-around;
    gap: 8rem;
    margin: 3rem 6rem;

    @media (max-width: $large) {
        margin: 1rem 0;
        padding-inline: 1.5rem;
    }

    @media (min-width: calc($large + 1px)) and (max-width: $tablet-horizontal) {
        margin: 3rem;
        gap: 3rem;
    }
}
