
//colors
$primary-color: #0043ea;
$secondary-color: #39db34;
$white: #ffffff;
$black: #1a1313;
$grey: #55565b;
$error: #a90202;



//screen width
$medium: 767px;
$large: 991px;
$xl2: 1024px;
$tablet-horizontal: 1366px; 