@import '../../style/var.scss';

.services {
    padding: 4rem 2rem;
    
    .services__request {
        display: flex;
        gap: 1rem;

        p {
            width: clamp(350px, 50rem, 620px)
        }

        button {
            flex-grow: 1;
        }
    }
}