

@import '../../style/var.scss';
@import '../../style/fonts.scss';

.main-section {

    .cases__list {
        display: grid;
        gap: 1rem;
        font-family: 'Xolonium';
        font-weight: normal;

        @media (min-width: $medium) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: $tablet-horizontal) {
            grid-template-columns: repeat(3, 1fr);
        }
        

        .cases__item {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30dvh;
            text-align: center;
            border-radius: 5px;
            list-style: none;
            color: $white;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: transform 0.5s ease;

            a {
                position: relative;
                padding: 5rem;
                padding-inline: clamp(1rem, 4vw, 5rem);
                color: $white;
                width: 100%;
                height: 100%;
                z-index: 4;
            }

            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: $black;
                opacity: 0.7;
                transition: background-color 0.3s ease, opacity 0.3s ease;
                z-index: 0;
            }

            &:hover {

                transform: scale(1.08);

                &::before {
                    background-color: $primary-color;
                    opacity: 0.9;
                }
            }

            @media (min-width: $large) {
                height: 100%;
            }
        }
    }
}