@import '../../style/var.scss';
@import '../../style/fonts.scss';

.contacts_list {
    display: flex;
    gap: 1rem;
    font-family: 'Roboto';

    a {
        padding: 0.5rem 1rem;
        border: 1px solid $primary-color;
        border-radius: 5px;
        background-color: $primary-color;
        transition: background-color 0.7s ease, border-color 0.7s ease;
        color: $white;

        &:hover {
            background-color: $secondary-color;
            border-color: $secondary-color;
        }
    }
    
}